.message {
padding-bottom: 24px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 12px;

}

.imageAndText img {
    height: 48px;
    width: 48px;
}

.text {
    position: relative;
    background: #06c;
    padding: 8px 12px;
    border-radius: 10px 10px 0 10px;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
}

.text:after {
    content: "";
    position: absolute;
    right: -12px;
    bottom: 0;
    width: 14px;
    height: 14px;
    background: #06c;
    clip-path: polygon(0 0, 100% 100%, 0 100%);

}

.name {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    text-align: right;
    padding-bottom: 4px;
}

.messageText {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-wrap: auto;
}

.time {
    font-weight: 600;
    font-size: 10px;
    color: #000;
    text-align: end;
    padding: 5px 11px 0;
}