.App {
    --header_height: 60px;
}

.hw {
    padding: 24px 70px 32px;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    color: #000;

    padding-bottom: 10px;
}