.friendMessage {
padding: 6px 0 30px;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 12px;
}

.friendImageAndText img {
    height: 48px;
    width: 48px;
}

.friendText {
    position: relative;
    background: #f5f7fb;
    padding: 8px 12px;
    border-radius: 10px 10px 10px 0;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
}

.friendText:after {
    content: "";
    position: absolute;
    left: -12px;
    bottom: 0;
    width: 14px;
    height: 14px;
    background: #f5f7fb;
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.friendName {
    font-weight: 600;
    font-size: 18px;
    color: #000;

    padding-bottom: 4px;
}

.friendMessageText {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-wrap: auto;
}

.friendTime {
    font-weight: 600;
    font-size: 10px;
    color: #000;
    padding: 5px 11px 0;
}
